<h2>Azure Redis </h2>
 <ul>
    <li>
        Value read from cache is: 
     </li>
        @ViewData["CachedTime"]
 </ul>
       <br />
  <ul>
     <li>
        Current value is: 
     </li>
        @ViewData["CurrentTime"]
 </ul>
